<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <div class="logo">🎓 Student Portal</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<div class="about-container">

    <h1>About Student Portal</h1>

    <p>
        This Student Portal is developed using
        Flask, HTML and CSS.
    </p>

    <p>
        It allows users to:
    </p>

    <ul>
        <li>Register Students</li>
        <li>View Student Records</li>
        <li>Manage Student Information</li>
        <li>Learn Flask Web Development</li>
    </ul>

    <img
    src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?w=800"
    alt="Education">

</div>

</body>
</html>