<!DOCTYPE html>
<html>
<head>
    <title>Student Portal</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<nav>
    <div class="logo">Student Portal</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<!-- HERO SECTION -->
<div class="hero">

    <!-- TEXT SIDE -->
    <div class="hero-content">

        <h2 class="hero-title">Welcome to Student Portal</h2>

        <h1>Manage Student Records Easily</h1>

        <p>Manage Student Records Easily Using Flask</p>

    </div>

    <!-- IMAGE SIDE -->
    <div class="hero-image">
        <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?w=600"
             alt="Students">
    </div>

</div>

</body>
</html>