<!DOCTYPE html>
<html>
<head>
    <title>Students List</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <div class="logo">Student Portal</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<div class="table-container">

    <h2>Registered Students</h2>

    <br>

    <table>

        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Gender</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.gender }}</td>
        </tr>
        {% endfor %}

    </table>

</div>

</body>
</html>